body{
    background-color: grey;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.hero_add{
    width: 50%;
    display: block;
    margin: 0;
    
}

.gender{
    margin-left:40px;
}

.inputted_hero{
    width: 50%;
    height:500px;
    border:1px solid white;
    display: block;
    margin: 0;
    padding-left:20px;
    
}

/*.card{*/
/*    width:50%;*/
/*    height:300px;*/
/*    display: inline-block;*/
/*    margin: 0;*/
    
/*}*/

.card-content{
    color:black;
    text-align: right;
    flex-direction: none;
    
}

/*.format{*/
/*    display: inline-block;*/
/*    margin: 0;*/
/*    width: 100px;*/
/*    height: 200px;*/
/*}*/