body{
    background-color: grey;
    font-family: 'Montserrat', sans-serif;
    color: black;
}


.hero_add{
    width: 70%;
    display: inline-block;
    margin: 0;
   
    
}

.gender{
    margin-left:40px;
}

.inputted_hero{
    width: 50%;
    height:500px;
    border:1px solid white;
    display: block;
    margin: 0;
    padding-left:20px;
}


.img-fluid{
    max-width: 100%;
    height: auto;
}

.return{
    height:100px;
    display: block;
}

.card{
    width:100%;
    /*height:600px;*/
    display: inline-block;
    padding:10px;
    margin:5px;
    
}

.containter{
    margin: 0 auto;
    text-align: center;
    
}

.project{
    margin: 0 auto;
    text-align: center;
    
}

.searchDB{
    color:white;
    text-align: center;
}

.brand-logo{
    text-decoration: none;
}
/* -------------- CSS FOR index page -------------- */
.about{
    width:40%;
    display: inline-block;
    /*padding:20px;*/
}

.DB{
    width:40%;
    display: inline-block;
    /*padding:10px;*/
    margin: 0 auto;
}

.nav .brand-logo{
    font-size: 2.5em;
}

.tite{
    color:black;
    font-size: 4em;
    text-align: center;
}

.ness{
    color:white;
}

.textAbout{
    text-align:justify;
}

/* ------------------- css for hero.htl page ---------------- */ 
.citi{
    color:#26a69a;
    text-align: center;
}

.special{
    color:#26a69a;
    font-weight: bold;
}

/* --------------------  CSS for famous.html    ---------------------*/

.his{
    text-align: center;
}

/* --------CSS for Artist page ----- */

.artists{
    text-align: center;
    color:white;
}

.artWords{
    text-align: center;
    color:black;
}

.artWordsem{
    color:white;
}

.carousel {
    overflow: none; 
}

.heroA{
    color:#26a69a;
}