{% extends 'base.html' %} {% block content %}
<div class="container">
    <h3>Add your HERO</h3>
    <div class="hero_add">
        <h6>Know of someone who should be in our database? Add them here!</h6>

        <div class="row">

            <form action="" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" name="local_heros_first" class="last" type="text" class="validate">
                        <label for="icon_prefix">First Name</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" name="local_heros_last" class="last" type="text" class="validate">
                        <label for="icon_prefix">Last Name</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">face</i>
                        <!--<input id="icon_prefix" name="local_heros_last" class="last" type="text" class="validate">-->
                        <label for="icon_prefix">Gender</label>
                    </div>
                    
                    
                    
                    
                    
                    <div class="input-field col s12">
                    <p>
                        <label class="gender" >
                            <input type="radio" name="gender"  />
                                <span>Male</span>
                        </label>
                    </p>
                    <p>
                        <label class="gender" >
                            <input type="radio" name="gender"  />
                                <span>Female</span>
                         </label>
                    </p>
                    <p>
                        <label class="gender" >
                            <input type="radio" name="gender"/>
                                <span>Non Binary</span>
                          </label>
                    </p>
                    <p>
                        <label class="gender" >
                           <input id="indeterminate-checkbox" type="radio"name="gender" />
                                <span>Undisclosed</span>
                        </label>
                    </div>
                    </p>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">flag</i>
                        <input id="icon_prefix" name="local_heros_last" class="last" type="text" class="validate">
                        <label for="icon_prefix">Nationality</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">terrain</i>
                        <input id="icon_prefix" name="local_heros_first" class="last" type="text" class="validate">
                        <label for="icon_prefix">Region</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">work</i>
                        <input id="icon_prefix" name="local_heros_first" class="last" type="text" class="validate">
                        <label for="icon_prefix">Profession</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">edit</i>
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Textarea</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
