<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" />
</head>

<body>  
	<header>
		<nav>
            <div class="nav-wrapper grey darken-1">
                <a href="{{url_for('get_heros')}}" class="brand-logo center black-text"> - BLACKNESS - </a> 
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_index')}}">Home</a></li>
                    <li><a href="{{url_for('get_heros')}}">Local Heros</a></li>
                    <li><a href="{{url_for('add_hero')}}">Submit Hero</a></li>
                    <li><a href="{{url_for('get_famous')}}">Search</a></li>
                    <li><a href="{{url_for('get_art')}}">BUY ART</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('get_index')}}">Home</a></li>
                    <li><a href="{{url_for('get_heros')}}">Local Hero</a></li>
                    <li><a href="{{url_for('add_hero')}}">Submit Hero</a></li>
                    <li><a href="{{url_for('get_famous')}}">Search</a></li>
                    <li><a href="{{url_for('get_art')}}">BUY ART</a></li>
                </ul>
            </div>         
     </nav>     
     <p class="center">- a project about discovering your history -</p>
	</header>
     <div class="container">
    {% block content %} {% endblock %}     
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        });
    </script>
</body>

</html>