<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link rel="stylesheet" href="/static/css/styles.css" type="text/css" />

</head>

<body>  
	<header>
		<nav>
            <div class="nav-wrapper grey darken-1">
                <a href="{{url_for('get_index')}}" class="brand-logo center blackText"> - BLACKNESS - </a> 
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_index')}}" class="menuTOP">Home</a></li>
                    <li><a href="{{url_for('get_heros')}}" class="menuTOP">Local Heros</a></li>
                    <li><a href="{{url_for('add_hero')}}"  class="menuTOP">Submit Hero</a></li>
                    <!--<li><a href="{{url_for('get_famous')}}">Search</a></li>-->
                    <li><a href="{{url_for('get_art')}}"  class="menuTOP">BUY ART</a></li>
                   
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('get_index')}}">Home</a></li>
                    <li><a href="{{url_for('get_heros')}}">Local Hero</a></li>
                    <li><a href="{{url_for('add_hero')}}">Submit Hero</a></li>
                    <!--<li><a href="{{url_for('get_famous')}}">Search</a></li>-->
                    <li><a href="{{url_for('get_art')}}">BUY ART</a></li>
                </ul>
            </div>         
     </nav>     
     <div class="project">
     <h4 class="center">- a project about discovering our history -</h4>
     </div>
	</header>
     <div class="container">
    {% block content %} {% endblock %}     
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   
<!--- bootstrap scripts--->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
<!--- End --->
   
   
   
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
            $('.carousel').carousel();
        });
        M.toast({html: 'I am a toast!'});
    </script>
</body>

</html>