{% extends 'base.html' %} {% block content %}
<div class="container">
    <h3>Add your HERO</h3>
    <div class="hero_add">
        <h6>Know of someone who should be in our database? Add them here!</h6>

        <div class="row">
<!--- ------------------------------START OF FORM---------------------- ---> 
            <form action="{{ url_for('update_hero', hero_id=hero._id) }}" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" name="first" class="last" type="text" class="validate" value="{{hero.first}}" required>
                        <label for="icon_prefix">First Name</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" name="last" class="last" type="text" class="validate" value="{{hero.last}}" required>
                        <label for="icon_prefix">Last Name</label>
                    </div>
                  
                    <div class="input-field col s12">
                        <i class="material-icons prefix">flag</i>
                        <input id="icon_prefix" name="nationality" type="text" class="validate" value="{{hero.nationality}}" required >
                        <label for="icon_prefix">Nationality</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">terrain</i>
                        <input id="icon_prefix" name="region" type="text" class="validate" value="{{hero.region}}" required>
                        <label for="icon_prefix">Region</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">work</i></i>
                        <input id="icon_prefix" name="profession"  type="text" class="validate" value="{{hero.profession}}" required>
                        <label for="icon_prefix">Profession</label>
                    </div>
                     <div class="input-field col s12">
                        <i class="material-icons prefix">face</i>
                        <input id="icon_prefix" name="image"  type="text" class="validate" value="{{hero.image}}" required>
                        <label for="icon_prefix">Image</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">edit</i>
                        <textarea id="textarea1" class="materialize-textarea" name="details" value="{{hero.details}}"  required></textarea>
                        <label for="textarea1">Details</label>
                    </div>
                    <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" name="dates" value="{{date}}" >Update
                            <i class="material-icons right">send</i>
                    </button>
                    </div>
                </div>
            </form>
<!--- ------------------------------END OF FORM---------------------- ---> 
        </div>
    </div>
</div>


{% endblock %}
