{% extends 'base.html' %} {% block content %}

<div class="container">
  <h3 class="his">History Makers</h3>
  <div class="row return">
    <a href="{{url_for('get_index')}}" class="btn waves-effect waves-light">Search</a>
  </div>
<div class="row"> 
{% for test in famous %}
  <div class="card-deck">
  <div class="card" style="width: 18rem;">
    
    <img src="{{ test.images }}" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ test.first }} {{ test.last }}</h5>
      <p class="card-title">{{ test.nationality }} - {{ test.profession }}</p>
      <p class="card-text">{{ test.details }}</p>
      <a href="#" class="btn btn-small">More Info</a>
    </div>
  </div>
  </div>
{% endfor %}
</div>
</div>
{% endblock %}
