{% extends 'base.html' %} {% block content %}
<h1>Artists Gallery</h1>
<div class="container">
    <div class="carousel" indicators=true>
        <div class="row">
            <a class="carousel-item" href="#one!"><img src="static/images/2957.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="static/images/bookerT.jpg"></a>
            <a class="carousel-item" href="#three!"><img src="static/images/Basquiat.jpg"></a>
            <a class="carousel-item" href="#four!"><img src="static/images/Hattie_McD.jpg"></a>
            <a class="carousel-item" href="#five!"><img src="static/images/Maya_A.jpg"></a>
            <a class="carousel-item" href="#five!"><img src="static/images/Sam_C_Tay.jpg"></a>
            <a class="carousel-item" href="#one!"><img src="static/images/Toni_M2.jpg"></a>
            <a class="carousel-item" href="#one!"><img src="static/images/3049.jpg"></a>
            <a class="carousel-item" href="#one!"><img src="static/images/3049.jpg"></a>
        </div>
    </div>
</div>




<!--<div class="container">-->
<!--<div class="carousel">-->
<!--    <div class="row">-->
<!--    {% for test in famous %}-->
<!--    <a class="carousel-item" href="/"><img src="{{ test.assoc_painting }}"></a>-->
    
<!--    {% endfor %}-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
{% endblock %}


