{% extends 'base.html' %} {% block content %}
<div class="container">
    <h5 class="artists">Artists Gallery</h5>
    <p class="artWords">Find paintings, illustration and Photography work from African Disapora Artists based on the history that you can read up on on this website, <em>click on the link </em> to be lead to the artist page</p>
    <div class="carousel">
        <div class="row">
            <a class="carousel-item" href="#one!"><img src="static/images/2957.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="static/images/bookerT.jpg"></a>
            <a class="carousel-item" href="#three!"><img src="static/images/Basquiat.jpg"></a>
            <a class="carousel-item" href="#four!"><img src="static/images/Hattie_McD.jpg"></a>
            <a class="carousel-item" href="#five!"><img src="static/images/Maya_A.jpg"></a>
            <a class="carousel-item" href="#five!"><img src="static/images/Sam_Col_Tay.jpg"></a>
            <a class="carousel-item" href="#one!"><img src="static/images/juan_latino_md.jpg"></a>
            <a class="carousel-item" href="#one!"><img src="static/images/toni_mo_md.jpg"></a>
        </div>
    </div>
</div>

{% endblock %}


