{% extends 'base.html' %} {% block content %}
<div class="container">
    <h2 id="Citizen">Citizen awards</h2>
    <p>Read through the profiles of the people who are making a change in your area, vote for the most inspirational or </p><span class="special">put forward a nomenee</span>
    {% for test in heros %}
    <div class="row">

        <div class="col s12 m7">


            <h2 class="header"></h2>
            <div class="card horizontal text_H">
                <div class="card-image">
                    <img src="https://lorempixel.com/100/190/nature/6">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ test.first }} {{ test.last }} {{ test.gender }} <br/>{{ test.nationality }} {{ test.region }}
                            <h4>{{ test.Profession }}</h4> {{ test.recognition }} <br/>{{ test.details }}</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Vote up</a>
                    </div>

                </div>

            </div>

        </div>
    </div>{% endfor %}
</div>




    {% endblock %}
