<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Local Heros</h2>
    {% for test in hero %}
    {{ test.first }}
    {{ test.last }}
    {{ test.gender }}
    {{ test.nationality }}
    {{ test.region }}
    {{ test.Profession }}
    {{ test.recognition }}
    {{ test.details }}
    {% endfor %}
    <h3> Vote for you favourite local hero</h3>
    
    
    
    
</body>
</html>