{% extends 'base.html' %} {% block content %}
<div class="containterIndex">
<h3>search database</h3>


<div class="row">
    <form action="{{ url_for('insert_hero') }}" method="POST"  class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select id="nationality" name="nationality">
                  <option value="" disabled selected>Nationality:</option>
                  {% for nat in nationality %}
                      <option value="{{nat.nationality}}">{{nat.nationality}}</option>
                  {% endfor %}
                </select>
                    <label>Search by:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select id="category" name="category_name">
                  <option value="" disabled selected>Profession</option>
                  {% for prof in profession %}
                      <option value="{{prof.profession}}">{{prof.profession}}</option>
                  {% endfor %}
                </select>
                    <label>Search by:</label>
                </div>
            </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Search
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
    </form>
</div>
<div class="row">
     <form action="{{url_for('search')}}" method="POST">
         <input type="text" name="query" />
         <input type="submit" value="Submit" />
     </form>
</div>
</div>
<!--- END OF CONTAINER INDEX --->

{% endblock %}